* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--gallery-gap: calc(var(--index) * 7.5);
	// --gallery-gap: calc(var(--index) * 2);
}

@font-face {
	font-family: raleway-c;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: outfit-c;
	src: url(../fonts/outfit-regular.woff2);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: outfit-c;
}
/* will-change */
.smooth__content,
.intro__img,
.intro__title-wrapper,
// .intro__title,
.gallery > * {
	will-change: transform;
}

body {
	// background-image: url(../img/bg.jpg);
	// background-size: 50px;
	background-color: #1d1d1d;
	color: #fafafa;
	font-family: raleway-c;
	overflow-x: hidden;
}
.container {
	padding: 0 7vw;
}
.intro {
	// height: 100vh;
	// position: relative;
	// border: 1px solid red;
	
	&__title-wrapper {
		height: 100vh;
	}
	&__title {
		width: min-content;
		position: absolute;	
		bottom: 12vh;
		font-size: calc(var(--index) * 8);
		line-height: 0.9;
		// padding: 0 7vw;
	}

	&__img {
		width: calc(var(--index) * 36);
		position: absolute;
		left: 37vw;
		top: 22vh;
		z-index: -1;
	}
}

.gallery {
	display: flex;
	padding: calc(var(--index) * 8) 0;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;

	// margin-top: 15vw;
	// border: 1px solid red;

	// & > * {
	&__left, &__right {
		flex: 1;
		display: flex;
		align-items: center;
		flex-direction: column;
		// border: 1px solid lightsalmon;
	}
	&__left {
		margin-top: calc(var(--gallery-gap) * 1.75);

		&.gallery__item {
			margin-bottom: var(--gallery-gap);
		}
	}
	&__right {
		&.gallery__item {
			margin-top: var(--gallery-gap);
		}
	}
	
	&__item {
		max-width: calc(var(--index) * 21);
		max-height: 180vh;
		margin-bottom: var(--gallery-gap); // NE MOZE PADDING, SCROLLTRIGGER NECE RADITI KAKO TREBA NA ITEMIMA
		border-radius: 8px;
	}

	&__text {
		color: var(--color-text);
		position: relative;
		&--h {
			font-size: 2rem;
			line-height: 2.4rem;
			color: var(--color-header);
			margin-bottom: 1.5rem;
		}
		&--p {
			line-height: 1.75;
		}
	}
}